@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.main-img {
  width: 100%;
  max-width: 100%;  /* 최대 너비를 800px로 제한 (최대 크기 설정) */
  min-width: 600px;
  padding:0 0 0 50px;
}



.hero-text {
  font-size: 4.5rem; 
  white-space: nowrap; /* fix in single line */
  line-height: 1.2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 0 0 170px;
}
.sub-text {
  font-size: 1.3rem; 
  white-space: nowrap;  /* fix in single line */
  padding: 30px 0 0 170px;
  letter-spacing: 1.5px;
}


html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  scroll-snap-type: y mandatory;  /* 수직 스크롤 스냅 */
  overflow-y: scroll;
  height: 100vh;
}

/* 섹션 스타일 */
.container {
  display: flex;
  flex-direction: column;
}

.section {
  height: 90vh;  /* 각 섹션이 화면 전체를 차지하도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin: 0;
}

.section-1 {
 /* display: block; 기본값인 block요소로 설정하여 세로로 쌓이게 함ㄴ */ 
  background-color: rgb(255, 255, 255);  /* 파란색 */

  display: flex; /* 자식 요소들을 가로로 배치 */
  justify-content: space-between; /* 자식 요소들 사이에 간격을 균등하게 배치 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
}

.section-1 .box {
  width: 30%; /* 각 요소의 너비를 30%로 설정하여 3개의 요소가 가로로 균등하게 배치되도록 함 */
  text-align: left; /* 왼쪽 정렬 */
  padding: 0 50px 0 50px;
  
}
h2 {
  font-size: 1.7rem; 
  font-weight: bold;
  border-top: 2px solid #000; /* 제목 아래에 실선 추가 */
  padding: 50px 0 0 0; /* 제목의 상하 여백을 설정 */
  margin: 0; /* 제목의 기본 여백 제거 */
}
p{
  font-size: 1.4rem; 
  padding: 30px 0 100px 0; /* 제목의 상하 여백을 설정 */
  margin: 0; /* 제목의 기본 여백 제거 */
}

.section-2 {
  background-color: rgb(224, 207, 207);  /* 초록색 */
}
.section-3 {
  background-color: rgb(255, 255, 255);  /* 초록색 */
}

/* 스크롤 스냅 */
.section {
  scroll-snap-align: start;  /* 각 섹션의 시작 부분이 화면에 맞춰짐 */
}

html {
  scroll-behavior: smooth;  /* 부드러운 스크롤 */
}